{% extends "RoseCoder/padre.html" %} 

{% load static %} 

{% block contenidoacambiar %}

<h1 class="mb-5">RESUMEN DE LA FOMULA 1</h1>

<p>El inicio de la Fórmula 1 moderna se remonta al año 1950, en el que participaron escuderías como Ferrari, Alfa Romeo y Maserati. Algunas fueron reemplazadas por otras nuevas como McLaren,
 Williams, Red Bull y otras que volvieron como Mercedes que se han alzado varias veces con el Campeonato Mundial de Constructores. Por su parte, los pilotos deben contar con la superlicencia de la FIA para competir, 
 que se obtiene por los resultados en otros campeonatos.</p>

<h2> {{ mensaje }} </h2> 

{% endblock %}
